.home-card{
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    border-radius: 1.5rem;
    border: 1px solid #D7D7D7;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}

.home-card img{
    width: 100%;
}

.home-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
}

span{
    display: block;
    padding-bottom: 0.8rem;
    width: 50%;

    font-size: 1.3rem;
}

span:nth-child(odd){
  width: fit-content;
}

span:nth-child(even){
    width: 60%;
    text-align: right;
}

span:last-child{
    width: 100%;
}