@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');

html{
  font-size: 62.5%;
}

body{
  margin: 0;

  font-family: 'Red Rose', cursive;
  font-size: 1.5rem;
  line-height: 1.5;
}

img{
  display: block;
  width: 100%;
}

#hero-section,
#padding-section,
#homes-section,
#nft-section{
  padding: 1.2rem;
}

#banner-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2.5rem 0;
  background-color: #000;
}

#banner-section img{
  width: 20rem;
}

.homes-container{
  padding: 1.5rem;
}