@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');

html{
  font-size: 62.5%;
}

body{
  margin: 0;

  font-family: 'Red Rose', cursive;
  font-size: 1.5rem;
  line-height: 1.5;
}

img{
  display: block;
  width: 100%;
}

#hero-section,
#padding-section,
#homes-section,
#nft-section{
  padding: 3rem 1.5rem;
}

#hero-section > div > div:first-child{
  padding-right: 2rem;
  padding-bottom: 3.5rem;
}

h1{
  margin: 0.5rem;

  font-weight: 400;
  font-size: 3.5rem;
}

strong{
  color: #A02279;
}

.search-box{
  display: flex;
}

input,
button{
  display: block;
  padding: 1.5rem 1.5rem;

  font-family: 'Red Rose', cursive;
}

input{
  width: 70%;
  border: 0.05rem solid #000;
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
}
button{
  width: 30%;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #A02279;
  cursor: pointer;

  color: #fff;
}

input + button:hover{
  background: #c52a94;
}

#banner-section{
  background-color: #A02279;
}

#banner-section > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2.5rem 0;
}

#banner-section img{
  width: 20rem;
}

 h2{
  font-size: 3.2rem;
  text-align: center;
}

.all-homes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.homes-container{
  max-width: 32rem;
}

#nft-section{
  background-color: #A02279;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  color: #fff;
}

.nft-info{
  margin-bottom: 4.5rem;;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nft-info h2{
  margin-bottom: 0;
  text-align: unset;
}

.nft-info p{
  line-height: 2;
}

#btn__learn-more{ 
  width: fit-content;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;

  text-decoration: none;
  color: #A02279;
}

#btn__learn-more:hover{
  background-color: #e633ad;
  color: #fff;
}

footer{
  padding: 5rem 1.5rem 1.5rem;
  background-color: #1D1D1E;
  color: #fff;
}

.metabnb-profile img{
  width: 25rem;
}

.social-icons{
  width:10rem;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.social-icons svg{
  height: 2rem;
  width: 2rem;
}

.footer-nav{
  display: flex;
  flex-direction: column;
}

h4{
  font-size: 1.8rem;
}

ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer li > a{
  text-decoration: none;
  color: #fff;
}

footer li > a:hover{
  text-decoration: underline;
}

footer p{
  text-align: center;
}

/************************
/************************
/*****MEDIA QUERIES******
*************************
************************/
@media screen and (min-width: 680px){
  #hero-section{
    padding: 5rem 1.2rem 3.5rem;
    height: 38rem;
  }

  #hero-section > div,
  #nft-section > div{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  #hero-section > div > div{
    width: 50%;
    padding: 0;
  }

  #banner-section > div{
    padding: 2.5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  #banner-section img{
    max-width: 13rem;
  }

  .all-homes{
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .homes-container{
    margin-bottom: 1.5rem;
  }

  #nft-section .nft-info{
    padding: 0;
    margin-bottom: 0;
  }

  #nft-section div > div{
    width: 50%;
  }

  .footer-nav{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .metabnb-profile{
    width: 100%;
  }

  footer p{
    text-align: left;
  }
}

@media screen and (min-width: 1024px){ 
  #hero-section,
  #nft-section{ 
    min-height: 55vh;
    display: flex;
    align-items: center;
  }

  #homes-section{
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  .all-homes{
    justify-content: space-evenly;
  }

  #nft-section{
    padding: 3rem;
  }
}

@media screen and (min-width: 1280px){
  #hero-section,
  #homes-section > div,
  #nft-section div,
  #banner-section > div,
  .footer-nav,
  footer > p{
    width: 124rem;
    padding: 5.5rem 0;
  }
  
  #hero-section{
    margin: auto;
    height: 65vh;
    justify-content: space-between;
  }

  #hero-section > div, #nft-section > div{
    gap: 10rem;
  }

  #banner-section > div{
    margin: auto;
    padding: 2.5rem 0;
  }
  
  #banner-section img{
    max-width: unset;
  }

  #homes-section > div{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homes-container{
    width: 24%;
    max-width: unset;
  }

  h1{
    font-size: 4.5rem;
  }

  input,
  button,
  p{
    font-size: 2rem;
  }

  #btn__learn-more{
    font-size: 2rem;
  }

  .footer-nav{
    margin: auto;
    justify-content: space-between;
  }

  .footer-nav > div{
    width: 15%;
  }

  .footer-nav .metabnb-profile{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-nav h4{
    margin-top: 0;
  }

  footer p{
    margin: auto;
    padding: 0;
  }
}