.modal-overall-container{
    display: none;
}

.modal-overall-container.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay{
    content: '';
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.modal{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    min-width: 95%;
    border-radius: 1.5rem;
    background-color: #fff;
    z-index: 5;
}

.modal-title,
.modal-wallets{
    padding: 1.5rem;
}

.modal-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #CFD8DC;
}

h3{
    margin: 0.5rem 0;
}

.modal-wallets button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 1px solid #CFD8DC;
    border-radius: 0.8rem;
    background: none;
}

.modal-wallets  button:hover{
    background-color: #F8F9FA;
}

.btn__metamask{
    margin-bottom: 1.5rem;
}

#btn__metamask img,
#btn__walletconnect img{
    height: 3.5rem;
}

button svg{
    width: 1.5rem;
    height: 1.5rem;
    color: #CFD8DC;
}

/************************/
/************************/
/*****MEDIA QUERIES******/
/************************/
/************************/
@media screen and (min-width: 680px){
    .modal{
        min-width: unset;
        width: 45rem;
    }
}