@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html{
  font-size: 62.5%;
}

body {
  margin: 1.2rem;
  min-height: 100vh;

  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  padding: 5.5rem 1.5rem 0;
}

.share-desktop,
#slack{
  display: none;
}

#user-info,
#links-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

#user-info{
  max-width: 70rem;
  margin: auto;
}

.share-mobile,
.share-desktop{
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  width: 3.5rem;
}

#profile__img{
  width: 10rem;
  border-radius: 50%;
}

h1{
  margin: 2rem 0;

  font-size: 1.8rem;
}

#links-section{
  padding-bottom: 9.5rem;
  text-align: center;
}

#links-section > a{
  display: inline-block;
  width: 100%;
  margin: 1rem 0;
  padding: 2.5rem 1.5rem;
  background-color: #EAECF0;
  border-radius: 0.5rem;

  font-weight: 600;
  color: #000;
  text-decoration: none;
}

a > p{
  margin: 0.8rem 0;

  font-weight: 400;
  font-style: italic;
}

.socials a {
  display: inline-block;;
  padding: 1.2rem;
}

#links-section a:hover{
  background-color: #EAECF0;
  transform: scale(1.03);
  transition: transform 0.4s ease-in-out;
}

.socials a:hover{
  background: none;
}

footer{
  border-top: 1px solid #EAECF0;
  padding: 2.5rem 0 1.5rem;
}

footer p{
  color: #667085;
}

@media screen and (min-width: 768px){
  main{
    max-width: 120rem;
    margin: auto;
  }

  .share-mobile{
    display: none;
  }

  .share-desktop{
    display: block;
  }

  footer div{
    display: flex;
    justify-content: space-between;
  }
}